doctype html
html
    head
        meta(charset='utf-8')
        meta(name='description', content='Men of Action by Michael Sartain')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name="author", content="Men of Action")
        meta(property="og:title", content="Men of Action")
        meta(property="og:type", content="website")
        meta(property="og:url", content="https://go.momentoring.com/")
        meta(property="og:description", content="Men of Action by Michael Sartain")
        meta(property="og:image", content="https://uploads-ssl.webflow.com/60dfa5d043b07d360730d806/6111a1d57a5c212db7d0421a_Open%20Graph%20Image.jpg")
        link(rel="apple-touch-icon", href="https://uploads-ssl.webflow.com/60dfa5d043b07d360730d806/60f31449607eb81558dcc762_webArtboard%201.png")
        link(rel="icon" href="https://uploads-ssl.webflow.com/60dfa5d043b07d360730d806/60f314bce2e57d789a28d12f_icoArtboard%201.png")
        block head

    body
        block content